ADF/09_PL_Incremental_load/PL_Incremental_Load.json
{
    "name": "PL_Incremental_Load",
    "properties": {
        "activities": [
            {
                "name": "Lahman to Staging",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Get_WatermarkValue",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from dbo.SeriesPost where lastupdated > '@{activity('Get_WatermarkValue').output.firstRow.WatermarkValue}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_Lahman",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Staging",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Staging to History",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Lahman to Staging",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "writeBehavior": "upsert",
                        "upsertSettings": {
                            "useTempDB": true,
                            "keys": [
                                "pId"
                            ]
                        },
                        "sqlWriterUseTableLock": false,
                        "disableMetricsCollection": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_Staging",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_History",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Update Status and WatermarkValue",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Update_WatermarkValue",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[usp_update_watermark_status]",
                    "storedProcedureParameters": {
                        "datetime": {
                            "value": {
                                "value": "@activity('Update_WatermarkValue').output.firstRow.last_updated",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "status": {
                            "value": "success",
                            "type": "String"
                        },
                        "tableName": {
                            "value": "seriespost",
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Get_WatermarkValue",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Truncate Staging Table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select WatermarkValue from ctrl_table_watermarks where TableName = 'seriespost'",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_AzureSqlTable_Lookup",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Update_WatermarkValue",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Staging to History",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select max(lastUpdated) as last_updated from dbo.seriesPost_H",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_AzureSqlTable_Lookup",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "Truncate Staging Table",
                "type": "Script",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "LS_AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": "truncate table dbo.seriespost_S"
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            }
        ],
        "annotations": []
    }
}