ADF/06_PL_Monitor_logging/PL_Monitor_logging.json
{
    "name": "PL_Monitor_logging",
    "properties": {
        "activities": [
            {
                "name": "Copy data from Blob to SQL",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobStorageReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "AzureSqlSink",
                        "writeBehavior": "insert",
                        "sqlWriterUseTableLock": false
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_Blob_Generic_CSV",
                        "type": "DatasetReference",
                        "parameters": {
                            "relativePath": "books.csv"
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_AzureSqlTable_Param",
                        "type": "DatasetReference",
                        "parameters": {
                            "tablename": "books"
                        }
                    }
                ]
            },
            {
                "name": "On completion run SP",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy data from Blob to SQL",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[usp_adfpipelinelogs]",
                    "storedProcedureParameters": {
                        "adfName": {
                            "value": {
                                "value": "@pipeline().DataFactory",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "errorCode": {
                            "value": {
                                "value": "@if(equals(activity('Copy data from Blob to SQL').output.executionDetails[0].status,'Succeeded'),'N/A',activity('Copy data from Blob to SQL').output.errors[0].Code)",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "errorDescription": {
                            "value": {
                                "value": "@if(equals(activity('Copy data from Blob to SQL').output.executionDetails[0].status,'Succeeded'),'N/A',activity('Copy data from Blob to SQL').output.errors[0].Message)",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "executionStatus": {
                            "value": {
                                "value": "@activity('Copy data from Blob to SQL').output.executionDetails[0].status",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "pipelineName": {
                            "value": {
                                "value": "@pipeline().Pipeline",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "runId": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "triggerName": {
                            "value": {
                                "value": "@pipeline().TriggerName",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "triggerTime": {
                            "value": {
                                "value": "@pipeline().TriggerTime",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "triggerType": {
                            "value": {
                                "value": "@pipeline().TriggerType",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_AzureSqlDatabase",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": []
    }
}